/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import '~brooklyn-shared/style/first.less';

@import "~brooklyn-ui-utils/sensitive-field/sensitive-field.less";
@import "~brooklyn-ui-utils/status/status.less";
@import '~brooklyn-ui-utils/logbook/logbook.less';
@import "~brooklyn-ui-utils/yaml-editor/yaml-editor.less";
@import "~brooklyn-ui-utils/expandable-panel/expandable-panel.less";
@import "~angular-xeditable/dist/css/xeditable.css";

// Add project less files here
@import "views/main/main.less";
@import "views/main/inspect/inspect.less";
@import "views/main/inspect/summary/summary.less";
@import "views/main/inspect/effectors/effectors.less";
@import "views/main/inspect/management/management.less";
@import "views/main/inspect/management/detail/detail.less";
@import "views/main/inspect/activities/activities.less";
@import "views/main/inspect/activities/detail/detail.less";

@import "components/config-sensor-table/config-sensor-table.style.less";
@import "components/entity-tree/entity-node.less";
@import "components/entity-tree/entity-tree.less";
@import "components/entity-effector/entity-effector.less";
@import "components/entity-effector/modal/modal.less";
@import "components/entity-policy/entity-policy.less";
@import "components/stream/stream.less";
@import "components/task-list/task-list.less";
@import "components/task-sunburst/task-sunburst.less";
@import "components/workflow/workflow-steps.less";
@import "components/breadcrumb-navigation/breadcrumb-navigation.less";
@import "components/adjuncts-list/adjuncts-list.less";

.oneline {
  display: block;
  .text-overflow();
}
.tab-header {

  margin-top: 12px;
  margin-bottom: 18px;

  p {
    margin: 10px 0 10px 0;
  }
}
.flex-container {
  display: flex;
}
.flex-grow {
  flex-grow: 1;
}
.flex-shrink {
  flex-shrink: 0;
}
.flex-no-grow {
  flex-grow: 0;
}


// Load last so that these style rules and var values trump others
@import "~brooklyn-shared/style/last.less";

