<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<div class="entity-effector">
    <div class="effector-row">
        <div class="row-buttons">
            <br-button type="btn-sm btn-primary btn-effector" on-click="openModal()" title="Open Invoke Dialog">
                <!--Invoke-->
                <br-svg type="play"></br-svg>
            </br-button>
            <br-button type="btn-sm btn-accent btn-effector" on-click="openCliModal()" title="Show CLI Usage">
                <br-svg type="cli"></br-svg>
            </br-button>
        </div>
        <div class="row-contents">
            <a ui-sref="main.inspect.activities({applicationId: applicationId, entityId: entityId, filter: 'EFFECTOR', search: effector.name})"
                    ng-if="activities && activitiesSummary()" title="{{activitiesSummary()}}"><span class="pull-right effector-pills">
                <div class="effector-pill effector-active" ng-if="activities.active">
                    <i class="fa fa-play-circle"></i>
<!--                    <i class="fa fa-dot-circle-o"></i></div>-->
                    {{activities.active}}
                </div>
                <div class="effector-pill effector-cancelled" ng-if="activities.cancelled">
<!--                    <i class="fa fa-pause-circle"></i></div>-->
<!--                    <i class="fa fa-exclamation-circle"></i></div>-->
<!--                    <i class="fa fa-minus-circle"></i></div>-->
                    <i class="fa fa-stop-circle"></i>
                    {{activities.cancelled}}
                </div>
                <div class="effector-pill effector-failed" ng-if="activities.failed">
                    <i class="fa fa-times-circle"></i>
                    {{activities.failed}}
                </div>
                <div class="effector-pill effector-succeeded" ng-if="activities.succeeded">
                    <i class="fa fa-check-circle"></i>
                    {{activities.succeeded}}
                </div>
            </span></a>
            <span class="effector-name">
                {{effector.name}}
            </span>
            <span class="effector-description">{{effector.description}}</span>
        </div>
    </div>
</div>
