*.class
*.bak
# intellij IDE
.idea
*.iml

# Eclipse IDE
.project
.classpath
.settings/
.metadata/

# Maven
target

# Mac OS files
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# JS client
node_modules
bower_components
dist
ignored

# eclipse metadata
.project
*.log

cache

.swp
.flattened-pom.xml

*~
