/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/eclipse.css";

.CodeMirror-hints{
  z-index: 1051;
}

groovy-editor {
  display: block;

  .CodeMirror {
    height: 50vh;

    .cm-tab {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
      background-position: right;
      background-repeat: no-repeat;
    }

    .groovy-error {
      margin-left: 2px;

      .groovy-error-icon {
        color: @brand-danger;
      }

      .groovy-error-detail {
        visibility: hidden;
        opacity: 0;
        transition: opacity .5s ease;
        top: 0px;
        left: 35px;
        width: 500px;
        background-color: black;
        color: #fff;
        text-align: left;
        border-radius: 6px;
        position: absolute;
        z-index: 10;
      }
    }

    .groovy-error:hover {

      .groovy-error-detail {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}