/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */


.node-management-title {
  &:extend(.modal-dialog .modal-header);
  &:extend(.modal-dialog .modal-header h3);
  margin: 0;
  padding: 25px;
}

.node-management-actions {
  min-height: 60px;
}

.node-management-badge {
  background-color: gray;
  min-width: 250px;
}

.property-change-box {
  border-color: black;
  border-width: 1px;
  color: white;
}

.master-change-warning {
  font-size: 12px;
  font-weight: bold;
}