/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.clear-search {
  cursor: pointer;
  color: @gray-light;
  font-weight: bold;
  transition: 0.3s ease color;

  &:hover {
    color: @brand-primary;
  }
}

.list-group {
  &.list-group-bundles {
    .list-group-item {
      &.bundles-list { 
        padding: 0;
      }
      transition: 0.3s ease box-shadow, 0.3s ease border, 0.3s ease background;
      
      .bundle-top-region {
          padding: 4px 15px 4px 15px;
          &:hover {
            background: @list-bgcolor-hover;
          }
      }
      &.is-expandable .bundle-top-region {
        cursor: ns-resize;
      }
      
      .extra {
        padding: 0 25px 10px 30px;
      }
      &.expanded {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3) !important;
        z-index: 2;
        
        .bundle-top-region {
          &:hover {
            border-bottom: 2px dashed @gray-light;
            padding-bottom: 2px;
          }
        }
      }
      
      .typed-group-table-header {
        color: @gray;
        background-color: @gray-lighter;
        &:hover {
            background-color: @gray-lighter;
        }
        padding: 16px 12px;
        margin-top: 12px;
        font-size: 1.4em;
      }
    }
  }
    
  .media-body.catalog-item-body {
    vertical-align: middle;
    padding-top: 12px;
    padding-bottom: 4px;
    h4 { font-size: 1.5em; }
  }
  
  .media .media-body {
    .media-heading .label { font-size: 0.5em; }
    .highlights { font-size: 1em; }
  }
  
  type-item .media .media-left.icon {
    min-width: 96px;
    .media-object {
      max-width: 64px;
    }
  }
  
}

.filters {
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  .btn-primary {
    border: 1px solid transparent;
  }
}

.extra {
  .list-group-item {
    box-shadow: none !important;

    h3 {
      color: rgba(0, 0, 0, 0.4);
    }

    type-item {
      .media-object {
        .make-icon(60px);
      }
      .media-heading {
        font-size: 1.5em;

        .label {
          font-size: 0.5em;
        }
      }
    }
  }
  
  h5.text-info {
    margin-top: 18px;
  }
}
