/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
task-sunburst {
  display: block;

  svg {
      width: 100%;
      margin-top: 0;
    
      path.task.arc {
        stroke: #f4f4f4;
        stroke-width: 0.75px;
      }
      g.node:hover {
        path.task.arc {
          stroke: #666;
        }
        cursor: pointer;
      }
      path.task.arc.entering-new-entity {
        fill: none;
      }
      text.task.arc-label {
        fill: #fff;
        font-weight: 200;
      }
      text.task.arc-label.unstarted {
        fill: #444;
      }
  }
    
  .detail-block {
    position: relative;
    height: 4.5em;
    overflow: hidden;
    max-width: 100%;
    margin: 4px 0 6px 0;
  }
  .detail-line div, #detail1 {
    // prevent wrapping, truncate with ellipsis
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
    margin-bottom: 2px;
  }
  .detail {
    #detail2 { 
      font-style: italic;
    }
  }
}

