/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@btn-primary-border: @btn-primary-bg;


// Danger and error appear as red
.btn-accent {
    .button-variant(@btn-accent-color; @btn-accent-bg; @btn-accent-border);
}

.btn-outline {
    &.btn-primary:not(:hover) {
        background-color: transparent;
        color: @brand-primary;
    }
    &.btn-accent:not(:hover) {
        background-color: transparent;
        color: @brand-accent;
    }
    &.btn-success:not(:hover) {
        background-color: transparent;
        color: @brand-success;
    }
    &.btn-info:not(:hover) {
        background-color: transparent;
        color: @brand-info;
    }
    &.btn-warning:not(:hover) {
        background-color: transparent;
        color: @brand-warning;
    }
    &.btn-danger:not(:hover) {
        background-color: transparent;
        color: @brand-danger;
    }
}
