/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* header link fill entire space so it's all clickable */
.panel-title > a {
  display: block;
  padding: 10px 15px;
  margin: -10px -15px;
}

/* header link styling */
.panel-title a {
  &:hover, &:focus { text-decoration: none; }
}

.panel-title > a,
.panel-title > a:focus, {
  border-radius: 3px 3px 0 0;
  background: lighten(@primary-500, 55%);
  &:hover { background: lighten(@primary-500, 50%); }
}

/* no special styling for open panels -- but if we did:
.panel-open > .panel-title {
    a,
    a:focus, {
      color: white;
      background: @primary-500;
      &:hover { background: lighten(@primary-500, 5%); }
    }
}
*/
