<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center" ng-switch="state.status">
            <div ng-switch-when="confirm">
                <h2>Are you sure you wish to log out?</h2>
                <p>
                    <a class="btn btn-lg btn-primary" ng-click="vm.logout()">Yes</a>
                    <a class="btn btn-lg btn-outline" ng-click="vm.logout(false)">Yes, but keep credentials in browser</a>
                    <a class="btn btn-lg btn-outline" href="/">No, return to <%= getBrandedText('product.name') %></a>
                </p>
            </div>
            
            <div ng-switch-when="logging-out">
                <h2>Logging out...</h2>
                <p><a class="btn btn-lg btn-primary" ng-click="vm.retry()">Retry</a></p>
            </div>
            
            <div ng-switch-when="just-logged-out">
                <h2>Logout successful</h2>
                <p>Thank you for using <%= getBrandedText('product.name') %>, see you soon</p>
                <p><a class="btn btn-lg btn-primary" href="/">Log back in</a></p>
            </div>
            <div ng-switch-when="already-logged-out">
                <h2>Already logged out</h2>
                <p>Thank you for using <%= getBrandedText('product.name') %>, see you soon</p>
                <p><a class="btn btn-lg btn-primary" href="/">Log back in</a></p>
            </div>
            
            <div ng-switch-default>
                <h2>Log out failed<span ng-if="state.message">: {{ state.message }}</span</h2>
                <p>
                <p><a class="btn btn-lg btn-primary" ng-click="vm.retry()">Try logging out again</a></p>
                <p><a class="btn btn-lg btn-outline" href="/">Return to <%= getBrandedText('product.name') %> (login if needed)</a></p>
            </div>
        </div>
    </div>
</div>
