<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<div class="container">
    <div class="groovy-card">
        <p class="groovy-title">Instructions</p>
        <p class="groovy-description">Enter Groovy/Java code to run on the server.</p>
        <ul>
            <li><code>mgmt</code> is the management context</li>
            <li><code>last</code> is the result of your last successful script</li>
            <li><code>data</code> is user-session map for storing your data</li>
        </ul>
        <button class="btn btn-primary" ng-click="loadExample()">Load an example.</button>
        <div class="groovy-text"><groovy-editor value="codeToRun" ng-click="hideResults = true;"></groovy-editor></div>
        <br-button class="groovy-button" on-click="submitCode()" ng-disabled="disableSubmit">Submit</br-button>
    </div>
    <div class="groovy-card" ng-hide="hideResults">
        <section class="groovy-output">
            <header>Error:</header>
            <textarea class="groovy-text" readonly="readonly" placeholder="no details available">{{problemText}}</textarea>
        </section>

        <section class="groovy-output">
            <header>Result:</header>
            <textarea class="groovy-text" readonly="readonly" placeholder="no details available">{{resultText}}</textarea>
        </section>

        <section class="groovy-output">
            <header>Output (stdout):</header>
            <textarea class="groovy-text" readonly="readonly" placeholder="no output available">{{stdout}}</textarea>
        </section>

        <section class="groovy-output">
            <header>Output (stderr):</header>
            <textarea class="groovy-text" readonly="readonly" placeholder="no output available">{{stderr}}</textarea>
        </section>
    </div>
    <hr>
    <h2>Logbook</h2>
    <br-logbook></br-logbook>
</div>
