/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.entity-tree {

  .entity-tree-header {
    display: flex;
    justify-content: space-between;

    .entity-tree-title, .entity-tree-sort-action, .entity-tree-action {
      flex-shrink: 1;
      vertical-align: middle;
      margin-left: 0.5em;
      display: inline-table;
    }
    .notifications {
      color: @gray-light;
      transform: rotate(0);
      transition: 0.3s all ease;
      &.active {
        color: @brand-primary;
        transform: rotate(30deg);
      }
    }
  }

  //.entity-tree-heading {
  //  .clearfix()
  //}

  .entity-tree-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: @brand-primary;
  }

  .entity-tree-action-bar {
    margin-right: -0.5rem;
  }

  .view-mode-item {
    &.active {
      color: #fff;
      background-color: @brand-primary;
    }
  }
}

