<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<div class="form-group">
    <input type="text" class="form-control" placeholder="Filter by name or value" ng-model="filterValue">
</div>

<div class="config-sensor-grid grid-bordered">

    <div class="grid-header" ng-click="sortReverse = !sortReverse">
                Name <span class="fa" ng-class="{'fa-caret-down': sortReverse, 'fa-caret-up': !sortReverse}"></span>
    </div>
    <div class="grid-header">Value</div>

    <div ng-repeat-start="item in items | orderBy:'key':sortReverse | filter:filterValue as filterResult track by item.key" class="col1" ng-class="{ 'grid-even': $index%2 }">
                <span>{{item.key}}</span>
                <i ng-if="mapInfo[item.key].description" class="fa fa-info-circle pull-right" 
                       uib-popover="{{mapInfo[item.key].description}}" popover-trigger="'mouseenter'" popover-title="Description" popover-animation="true"></i>
    </div>
    <div class="col2 config-value" ng-class="{ 'grid-even': $index%2 }" ng-repeat-end>
              <div class="content-row">
                <span class="content">
                    <span ng-if="item.value === null"><i>value not set</i></span>
                    <span ng-if="item.value !== null" ng-bind-html="item.value | brLinky:mapInfo[item.key]" class="literal-lines"></span>
                </span>
                <span class="extras">
                    <i class="fa fa-exclamation-triangle warning-icon" ng-class="{invisible: !item.isPlaintextSensitiveValue}"
                       uib-popover={{WARNING_TEXT}} popover-trigger="'mouseenter'" popover-animation="true"
                       popover-placement="left"
                    ></i>
                    <button ng-if="item.value !== null" class="btn copy-btn btn-default btn-sm" 
                            ngclipboard ngclipboard-success="onClipboardSuccess(e)" ngclipboard-error="onClipboardError(e)" 
                            data-clipboard-text="{{item.value}}" uib-tooltip="Copied!" tooltip-trigger="{'copied': 'mouseleave'}" tooltip-placement="left">
                        <i class="fa fa-clipboard"></i>
                    </button>
                </span>
              </div>
    </div>

    <div ng-if="!filterResult || !filterResult.length" class="grid-row no-content">
      <div>
        <span ng-if="filterValue">No matches for <code>{{filterValue}}</code></span>
        <span ng-if="!filterValue">No entries</span>
      </div>
    </div>

</div>

