/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
*/

/* overrides for brooklyn */

.composer-editor {
  height: calc(100vh - 290px);
}

.CodeMirror {
  height: auto;
}
.CodeMirror-scroll {
  min-height: calc(100vh - 285px);
}
.CodeMirror .CodeMirror-gutter.CodeMirror-linenumbers {
}

ul.CodeMirror-hints {
  overflow: scroll;
  width: 320px;
}
li.CodeMirror-hint {
  max-width: inherit;
  overflow: visible;
  /* nice trick: table has stretchability based on content (line inline) but otherwise acts like div 
   * (following content is not on same line). this causes wide (overflow) content to get the right background when active;
   * otherwise with div the content is shown but background only applies to non-overflow part. */
  display: table;
  /* but width of table defaults to ignoring padding so we have to fix it to be parent's less padding */ 
  min-width: 312px;
}
.CodeMirror-hints .CodeMirror-hint.summary {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
}
li.CodeMirror-hint-active {
  /* override show-hint to have roughly brooklyn colors instead of blue */
  background: #549e2b;
}
#composer .error-message {
  background-color: #e2e2e2;
  margin: 0;
  padding: 15px 10px 15px 10px;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  border-radius: 0;
}