<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<div class="workflow-step-outer">

    <div class="workflow-step-status-indicators">
        <span ng-if="isCurrentAndActive" class="running-status">
            <brooklyn-status-icon value="STARTING"></brooklyn-status-icon>
        </span>
        <span ng-if="stepCurrentSuccess" class="color-succeeded" title="{{ stepCurrentSuccess }}">
            <i class="fa fa-check-circle"></i>
        </span>
        <span ng-if="stepCurrentWarning" class="color-cancelled" title="{{ stepCurrentWarning }}">
            <i class="fa fa-exclamation-circle"></i>
        </span>
        <span ng-if="stepCurrentError" class="color-failed" title="{{ stepCurrentError }}">
            <i class="fa fa-times-circle"></i>
        </span>
    </div>

    <div class="workflow-step" id="workflow-step-{{stepIindex}}" ng-class="vm.getWorkflowStepClasses(stepIndex)">
        <div class="rhs-icons">
            <div ng-if="stepTitle.name" class="step-name">
                {{ stepTitle.name}}
            </div>
            <div ng-if="isFocusTask" class="workflow-step-pill focus-step label-info" title="This step instance is for the task currently selected in the activity view.">
                selected
            </div>
            <div ng-if="stepTitle.id" class="workflow-step-pill step-id">
                <i class="fa fa-id-card-o"></i>
                {{ stepTitle.id }}
            </div>
            <div ng-click="vm.toggleExpandState()" class="expand-toggle">
                <i ng-class="expanded ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
            </div>
        </div>

        <div class="step-block-title">
            <span class="step-index">{{ stepTitle.index }}</span>
            <span class="step-title-code">{{ stepTitle.code }}</span>
        </div>

        <div ng-if="expanded" class="step-details">
            <div class="space-above">
                <div>
                    <span ng-if="!osi.countStarted" class="space-above">
                        This step has not been run<span ng-if="isRunning"> yet</span>.
                    </span>
                    <span ng-if="osi.countStarted">
                        <span ng-if="osi.countCompleted == osi.countStarted">
                            <span ng-if="osi.countCompleted > 1">
                                This step has run
                                <span ng-if="osi.countCompleted == 2">
                                    twice,
                                </span>
                                <span ng-if="osi.countCompleted > 2">
                                    {{ osi.countCompleted }} times,
                                </span>
                                most recently
                            </span>
                            <span ng-if="osi.countCompleted == 1">
                                This step ran
                            </span>
                        </span>
                        <span ng-if="osi.countCompleted != osi.countStarted">
                            <span ng-if="isCurrentAndActive">
                                <span ng-if="osi.countCompleted == osi.countStarted - 1">
                                    This step is currently running
                                </span>
                                <span ng-if="osi.countCompleted <= osi.countStarted - 2">
                                    This step has had errors previously and is currently running
                                </span>
                            </span>
                            <span ng-if="!isCurrentAndActive">
                                <span ng-if="osi.countStarted == 1">
                                    This step had errors when it ran
                                </span>
                                <span ng-if="osi.countStarted >= 2 && osi.countCompleted==0">
                                    This step has had errors on all previous runs, including the last run,
                                </span>
                                <span ng-if="osi.countStarted >= 2 && osi.countCompleted>0">
                                    This step has had errors on some previous runs. It most recently ran
                                </span>
                            </span>
                        </span>

                        <span ng-if="isFocusTask">
                            in the task this page is focused on (<span class="monospace">{{ stepContext.taskId }}</span>).
                            More details may be found in the other sections on this page.
                        </span>
                        <span ng-if="!isFocusTask">
                            in <a ui-sref="main.inspect.activities.detail({applicationId: workflow.applicationId, entityId: workflow.entityId, activityId: stepContext.taskId, workflowId })">task <span class="monospace">{{ stepContext.taskId }}</span></a>.
                        </span>
                    </span>
                </div>

                <div ng-if="isFocusStep && !isFocusTask" class="space-above">
                    <b>The activity currently being viewed (<span class="monospace">{{ task.id }}</span>) is for a previous run of this step.</b>
                </div>

                <div  class="more-space-above">
                    <div class="data-row" ng-if="step.name"><div class="A">Name</div> <div class="B">{{ step.name }}</div></div>
                    <div class="data-row" ng-if="step.id"><div class="A">ID</div> <div class="B fixed-width">{{ step.id }}</div></div>
                    <div class="data-row"><div class="A">Step Number</div> <div class="B">{{ stepIndex+1 }}</div></div>
                    <div class="data-row"><div class="A">Definition</div> <div class="B multiline-code">{{ vm.yamlOrPrimitive(step) }}</div></div>
                </div>

                <div ng-if="osi.countStarted > 1 && osi.countStarted > osi.countCompleted" class="space-above">
                    <div class="data-row"><div class="A">Runs</div> <div class="B"><b>{{ osi.countStarted }}</b></div></div>
                    <div class="data-row"><div class="A">Succeeded</div> <div class="B">{{ osi.countCompleted }}</div></div>
                    <div class="data-row"><div class="A">Failed</div> <div class="B">{{ osi.countStarted - osi.countCompleted - (isCurrentAndActive ? 1 : 0) }}</div></div>
                </div>

                <div class="more-space-above" ng-if="stepContext.taskId">
                    <div class="data-row">
                        <div class="A"><span ng-if="isCurrentAndActive">CURRENT</span><span ng-if="!isCurrent">LAST</span> EXECUTION</div>
                        <div class="B">
                                    <span ng-if="isFocusTask">
                                        task <span class="monospace">{{ stepContext.taskId }}</span>
                                    </span>
                            <span ng-if="!isFocusTask">
                                         <a ui-sref="main.inspect.activities.detail({applicationId: workflow.applicationId, entityId: workflow.entityId, activityId: stepContext.taskId, workflowId })"
                                            >task <span class="monospace">{{ stepContext.taskId }}</span></a>
                                    </span>
                        </div>
                    </div>
                    <div ng-if="!isFocusStep || isFocusTask">
                        <div class="data-row nested"><div class="A">Preceeded by</div> <div class="B">
                            <span ng-if="osi.previousTaskId">
                                Step {{ osi.previous[0]+1 }}
                                (<a ui-sref="main.inspect.activities.detail({applicationId: workflow.applicationId, entityId: workflow.entityId, activityId: osi.previousTaskId, workflowId })"
                                    >task <span class="monospace">{{ osi.previousTaskId }}</span></a>)
                            </span>
                            <span ng-if="!osi.previousTaskId">(workflow start)</span>
                        </div></div>

                        <div class="data-row nested" ng-if="!isCurrentMaybeInactive"><div class="A">Followed by</div> <div class="B">
                            <span ng-if="osi.nextTaskId">
                                Step {{ osi.next[0]+1 }}
                                (<a ui-sref="main.inspect.activities.detail({applicationId: workflow.applicationId, entityId: workflow.entityId, activityId: osi.nextTaskId, workflowId })"
                                    >task <span class="monospace">{{ osi.nextTaskId }}</span></a>)
                            </span>
                            <span ng-if="!osi.nextTaskId">(workflow end)</span>
                        </div></div>

                        <div class="data-row nested with-buttons" ng-if="stepContext.subWorkflows && stepContext.subWorkflows.length"><div class="A" style="margin-top: 2px;">Sub-workflows</div> <div class="B">
                            <div class="btn-group" uib-dropdown ng-if="stepContext.subWorkflows.length>1">
                                <button id="workflow-button" type="button" class="btn btn-select-dropdown workflow-button-small" uib-dropdown-toggle>
                                    {{ stepContext.subWorkflows.length }} nested workflow{{ stepContext.subWorkflows.length>1 ? 's' : '' }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="workflow-button">
                                    <li role="menuitem" ng-repeat="sub in stepContext.subWorkflows" id="sub-workflow-{{ sub.workflowId }}">
                                        <a href="" ui-sref="main.inspect.activities.detail({applicationId: sub.applicationId, entityId: sub.entityId, activityId: sub.workflowId, workflowLatestRun: true})">
                                            <i class="fa fa-check check"></i>
                                            <span>{{ vm.getWorkflowNameFromReference(sub) }}</span>
                                            <span class="monospace">{{ sub.workflowId }}</span></a> </li>
                                </ul>
                            </div>
                            <div class="btn-group" uib-dropdown ng-if="stepContext.subWorkflows.length==1">
                                <a href="" ui-sref="main.inspect.activities.detail({applicationId: stepContext.subWorkflows[0].applicationId, entityId: stepContext.subWorkflows[0].entityId, activityId: stepContext.subWorkflows[0].workflowId, workflowLatestRun: true})">
                                    <span>{{ vm.getWorkflowNameFromReference(stepContext.subWorkflows[0]) }}</span>
                                    <span class="monospace">{{ stepContext.subWorkflows[0].workflowId }}</span>
                                </a>
                            </div>
                        </div></div>

                        <div class="data-row nested" ng-if="stepContext.input"><div class="A">Input</div> <div class="B multiline-code">{{ vm.yaml(stepContext.input) }}</div></div>
                        <div class="data-row nested" ng-if="osi.workflowScratch"><div class="A">Workflow Vars</div> <div class="B multiline-code">{{ vm.yaml(osi.workflowScratch) }}</div></div>
                        <div class="data-row nested" ng-if="stepContext.otherMetadata" ng-repeat="(key,value) in stepContext.otherMetadata" id="$key">
                            <div class="A">{{ key }}</div> <div class="B multiline-code">{{ vm.yamlOrPrimitive(value) }}</div>
                        </div>
                        <div class="data-row nested" ng-if="!isCurrentMaybeInactive && stepContext.output"><div class="A">Output</div> <div class="B multiline-code">{{ vm.yaml(stepContext.output) }}</div></div>
                    </div>
                </div>

            </div>

            <div class="more-space-above" ng-if="vm.nonEmpty(stepContext) || vm.nonEmpty(step) || vm.nonEmpty(osi)">

                <div class="btn-group right" uib-dropdown>
                    <button id="extra-data-button" type="button" class="btn btn-select-dropdown pull-right" uib-dropdown-toggle>
                        JSON <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="extra-data-button">
                        <li role="menuitem" > <a href="" ng-click="vm.showJson('stepContext', stepContext)" ng-class="{'selected' : jsonMode === 'stepContext'}">
                            <i class="fa fa-check check"></i>
                            Last Execution Context</a> </li>
                        <li role="menuitem" > <a href="" ng-click="vm.showJson('osi', osi)" ng-class="{'selected' : jsonMode === 'osi'}">
                            <i class="fa fa-check check"></i>
                            Executions Record</a> </li>
                        <li role="menuitem" > <a href="" ng-click="vm.showJson('step', step)" ng-class="{'selected' : jsonMode === 'step'}">
                            <i class="fa fa-check check"></i>
                            Step Definition</a> </li>
                        <li role="menuitem" > <a href="" ng-click="vm.showJson(null)" ng-class="{'selected' : jsonMode === null}">
                            <i class="fa fa-check check"></i>
                            None</a> </li>
                    </ul>
                </div>

                <pre ng-if="json" class="space-above">{{ json }}</pre>
            </div>
        </div>

    </div>

</div>

